 :root {
     --main-background: #190422;
     --main-button-background: #D0B3F5;
     --secondary-button-background: #b083eb;
     --main-color-text: #000000;
     --secondary-color-text: #FFFFFF;
     --font-h1: 600 60px Poppins;
     --font-h2: 600 48px Poppins;
     --font-h3: 600 48px Poppins;
     --font-p: 400 20px Poppins;
     --font-button: 500 22px Poppins;
 }

 * {
     padding: 0;
     margin: 0;
     font-family: Poppins;
     font-weight: 400;
     font-size: 20px;
 }

 header {
     padding: 0 40px;
     display: flex;
     background-color: var(--main-background);
     align-items: center;

     & .container {
         width: 1280px;
         margin: auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     & img .koin {
         width: 167px;
         height: 96px;
     }

     & .burger {
         width: 40px;
         height: 40px;
     }

     & nav {
         display: flex;
         gap: 59px;
         align-items: center;
     }

     & .burger {
         display: none;
     }

     & nav p {
         font: var(--font-p);
         line-height: 100%;
         color: var(--secondary-color-text)
     }

     & nav p:hover {
         text-decoration: underline
     }

     & button {
         width: 132px;
         height: 58px;
         border-radius: 7px;
         box-shadow: 10px 7px 9px 0px var(--main-color-text)40;
         background: var(--main-button-background);
         margin-left: 75px;
         font: var(--font-button);
         line-height: 100%;
         color: var(--main-color-text);
     }

     & button:hover {
         background-color: #ab57cf;
     }
 }

 .card {
     background-color: var(--main-background);
     padding: 103px 40px;

     & .container {
         max-width: 1280px;
         margin: auto;
         display: flex;
         align-items: center;
         justify-content: space-between;
         position: relative;
         padding-bottom: 189px;
     }

     & .card_left {
         width: 50%;
     }

     & .card_left h1 {
         font: var(--font-h1);
         line-height: 120%;
         color: var(--secondary-color-text);
     }

     & .card_left p {
         font: var(--font-p);
         line-height: 158%;
         color: var(--secondary-color-text);
         margin-top: 32px;
     }

     & .card .card_img {
         max-width: 554px;
     }

     & .card_left button {
         width: 212px;
         height: 58px;
         border-radius: 7px;
         background: var(--main-button-background);
         box-shadow: 10px 7px 9px 0px var(--main-color-text)40;
         font: var(--font-button);
         line-height: 100%;
         color: var(--main-color-text);
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 4px;
         margin-top: 32px;
     }

     & .card_left button:hover {
         background-color: #ab57cf;
     }

     & .statistic {
         width: 94%;
         background-color: var(--secondary-color-text);
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: auto;
         position: absolute;
         bottom: -180px;
         border-radius: 16px;
         box-shadow: 0px 2px 10px 0px #00000026;
     }

     & .statistic div:nth-child(1) {
         padding-left: 100px;
     }

     & .statistic div:nth-child(3) {
         padding-right: 100px;
     }

     & .statistic h3 {
         font: var(--font-h3);
         line-height: 100%;
         color: #1F262E;
     }

     & .statistic p {
         font: var(--font-p);
         line-height: 100%;
         color: #1F262E;
     }

 }

 .finances {
     gap: 40px;
     max-width: 1280px;
     background-color: var(--secondary-color-text);
     margin: auto;
     display: flex;
     margin-top: 258px;
     justify-content: space-between;
     padding: 0 40px 107px;

     & .right {
         max-width: 611px;
         margin-top: 55px;
     }

     & .right h2 {
         font: var(--font-h2);
         line-height: 123%;
         color: var(--main-color-text);
     }

     & .right p {
         font: var(--font-p);
         line-height: 158%;
         color: var(--main-color-text);
         margin-top: 16px;
     }

     & .right button {
         display: flex;
         width: 212px;
         height: 58px;
         border-radius: 7px;
         background: var(--main-button-background);
         gap: 8px;
         align-items: center;
         justify-content: center;
         font: var(--font-button);
         line-height: 100%;
         color: var(--main-color-text);
         border: none;
         margin-top: 16px;
     }

     & .right button:hover {
         background-color: #ab57cf;
     }

     & .left img {
         max-width: 418px;
     }
 }

 .service {
     max-width: 1280px;
     margin: auto;
     margin-top: 81px;
     padding: 0 40px 216px;

     & h3 {
         font: var(--font-h3);
         line-height: 158%;
         color: var(--main-color-text);
     }

     & .container {
         margin-top: 40px;
     }

     & .our .title {
         font: var(--font-p);
         line-height: 158%;
         letter-spacing: 0%;
         margin-top: 14px;
     }

     & .our p {
         font: var(--font-p);
         line-height: 158%;
         color: #1F262E;
         margin-top: 16px;
     }

     .our {
         display: grid;
         grid-template-columns: minmax(355px, 477px) minmax(355px, 477px);
         grid-template-rows: auto;
         grid-row-gap: 20px;
         justify-content: space-between;
         max-width: 1280px;

         & p {
             font: var(--font-p);
             line-height: 158%;
             color: #1F262E;
             margin-top: 16px;
         }
     }
 }

 footer {
     background-color: var(--main-background);
     border: 1.02px solid #757575;
     padding-bottom: 73px;

     & .container {
         max-width: 1280px;
         margin: auto;
         margin-top: 72px;
         padding: 0 40px;
     }

     & nav {
         display: flex;
         font: var(--font-p);
         line-height: 100%;
         color: var(--secondary-color-text);
         margin-top: 26px;
         gap: 33px;
     }

     & nav p:hover {
         text-decoration: underline
     }

     & .social {
         display: flex;
         gap: 21px;
         margin-top: 41px;
     }
 }

 @media (max-width:1150px) {
     header nav {
         display: none;
     }

     header .burger {
         display: block;
     }
 }

 @media (max-width:900px) {

     .card {
         & .card_left {
             width: 100%;
         }
     }

     .card .container {
         flex-direction: column;
     }

     .service .our {
         grid-template-columns: 355px;
         justify-content: center;
     }

     .service h3 {
         text-align: center;
     }

     .finances {
         align-items: center;
         flex-direction: column;
         padding: 0 40px;
     }

     .finances {
         & .right h2 {
             text-align: center;
         }
     }

     .finances {
         & .right p {
             text-align: center;
         }
     }

     .finances {
         & .right button {
             margin: 20px auto;
         }
     }
 }

 @media (max-width:700px) {
     .card .card_img {
         display: none;
     }

     .card {
         & .statistic div:nth-child(1) {
             padding-left: 50px;
         }
     }

     .finances {
         & .left img {
             padding: 0 40px;
         }
     }

     .card {
         & .statistic div:nth-child(3) {
             padding-right: 50px;
         }
     }

     footer {
         & nav {
             flex-direction: column;
             gap: 40px;
         }
     }

     .card {
         & .statistic {
             flex-direction: column;
             padding: 32px 0;
             gap: 32px;
         }
     }

     .card {
         & .statistic div:nth-child(1) {
             padding-left: 0;
         }
     }

     .card {
         & .statistic div:nth-child(3) {
             padding-right: 0;
         }
     }
 }А